NET "clk" LOC = B8  | IOSTANDARD = LVTTL;
NET "r"   LOC = H14 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;
NET "g"   LOC = H15 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;
NET "b"   LOC = G15 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;
NET "hs"  LOC = F15 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;
NET "vs"  LOC = F14 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;

NET "clk" TNM_NET = "clk";
TIMESPEC TS_1 = PERIOD "clk" 40.0 ns HIGH 50 %;

OFFSET = OUT 8.667 ns AFTER "clk";

#NET "reset_h" PULLDOWN;